@using Model.Entity
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page start-->

<div class="row">
    <h1>Home/Index</h1>
</div>

<!-- page end-->